.sidebar{
    position: fixed;
    background-color: var(--main);
    flex: 1;
    height: 100vh;
}
.sidebar-title{
    font-size: 1.4rem;
    color: var(--white);
    padding: 0.9rem;
    text-align: right;
    border-bottom: 2px solid #9889b6;
}
.sidebar-links{
    margin-top: 1rem;
}
.sidebar-links a {
    position: relative;
    padding: 15px;
    width: 100%;
    color: var(--white);
    text-decoration: none;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.1rem;
}
.sidebar-links a:hover {
    background-color: #ada5be;
    color: var(--white);
}
.sidebar-icon{
    margin-left: 1rem;
}
.sidebar-links a.active {
    background-color: #ada5be;
    transition-delay: 1s
}
.sidebar-links li:first-child{
    margin-bottom: 1.4rem;
}