.edit-modal-container {
  background-color: var(--white);
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  column-gap: 1rem;
}
.edit-modal-container h1 {
  text-align: right;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.edit-products-form-group {
  display: flex;
  background-color: #f0ebeb;
  align-items: center;
  border-radius: 0.4rem;
  padding: 0.3rem 0.9rem;
  margin-top: 0.8rem;
}
.edit-products-form-group input {
  background-color: #f0ebeb;
  width: 18rem;
}
.edit-products-btn {
  padding: 0.3rem 0.7rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  color: var(--white);
  background-color: var(--main);
  width: 7rem;
  margin-top: 2rem;
}
