/* .header{
    width: 143%;
} */
.header,.header-right,.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right,.header-left{
    column-gap: 1.3rem;
}
.header-right img{
    width: 3.2rem;
    border-radius: 50%;
}
.profile-bio{
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}
.profile-bio h1{
    font-family: vazir-bold;
    font-size: 1rem;
}
.profile-bio h3{
    font-family: vazir-bold;
    font-size: 0.8rem;
    color: #797676;
}
.header-searchbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    padding: 0.4rem;
    border-radius: 0.6rem;
    height: 2.6rem;
    width: 25rem;
    box-shadow: rgba(111, 115, 119, 0.6) 0 8px 24px;
}
.header-searchbox input{
    font-size: 1.1rem;
}
.btn-search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    background-color: var(--main);
    color: var(--white);
    border-radius: 0.5rem;
    font-size: 0.9rem;
    padding: 0.2rem;
    cursor: pointer;
}
.btn-alert,.btn-switch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--main);
    color: var(--white);
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

}